{% form_theme form 'HLPNebulaBundle:AdvancedUI:form_theme.html.twig' %}

{{ form_start(form, {'attr': {'class': 'mainForm row'}}) }}
    {{ form_errors(form) }}
    <h4><span class="glyphicon glyphicon-asterisk"></span> Branch details</h4>
    <hr>
    <div class="form-group">
        {% if form.branchId is defined %}
            {{ form_label(form.branchId, "Unique branch ID*") }}
            {{ form_errors(form.branchId) }}
            {{ form_widget(form.branchId, {'attr':{'title': 'URL friendly unique ID : spaces and special characters not allowed, hyphen (\"-\") not allowed at the beginning of the ID. Underscores (\"_\") allowed.'}}) }}

            <p class="help-block">This setting cannot be edited once the mod is published. It's a machine-readable identifier and will only be visible in URLs.</p>
        {% else %}
            <label class="form-label" for="branchId_disabled">
                Unique branch ID <span class="text-muted">(cannot be changed)</span>
            </label>
            <input id="branchId_disabled" class="form-control" type="text" value="{{ branch.branchId }}" disabled>
        {% endif %}
    </div>
    <div class="form-group">
        {{ form_label(form.name, "Branch name*") }}
        {{ form_errors(form.name) }}
        {{ form_widget(form.name, {'attr':{'title': 'Branch full name. Any character allowed (UTF-8), including spaces.'}}) }}

        <p class="help-block">This name will be displayed to humans.</p>
    </div>

    <div class="form-group">
        {{ form_errors(form.public) }}
        <div class="checkbox">
            <label>
                {{ form_widget(form.public) }}
                Public
            </label>
        </div>

        <p class="help-block">
            If a branch is set to private, it won't appear on the website.
            All builds within a private branch will only be available to people who have added it to their launcher.
        </p>
    </div>
  
    <div class="form-group">
        {{ form_label(form.notes, "Notes") }}
        
        {{ form_errors(form.notes) }}
        {{ form_widget(form.notes) }}
    </div>
  
    {{ form_rest(form) }}
    <br>
    <hr>
    <div class="text-center">
        <button type="submit" class="btn btn-success" style="width:100px;">Submit</button>
    </div>
{{ form_end(form) }}
