{% extends "HLPNebulaBundle:Branch:_layout.html.twig" %}

{% block branch_tab %}
  {% if is_granted('EDIT', meta) %}
    <p class="well">
      <a href="{{ path('hlp_nebula_repository_build_create', {'meta': meta.metaId, 'branch': branch.branchId}) }}" class="btn btn-success">
        <span class="glyphicon glyphicon-plus"></span> New build
      </a>
    </p>
  {% endif %}
  
  {% if buildsList|length > 0 %}
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Version</th>
          <th>Release date</th>
          <th>Status</th>
          {% if is_granted('EDIT', meta) %}<th>Actions</th>{% endif %}
        </tr>
      </thead>
      <tbody>
 
        {% for build in buildsList %}
          <tr>
            <td><a href="{{ path('hlp_nebula_repository_build', {'meta': meta.metaId, 'branch': branch.branchId, 'build': build.version}) }}">{{ build.version }}</a></td>
            <td>{{ build.updated|date("d M Y") }}</td>
            <td>
              {% if build.state == constant('DONE', build) %}
                <span class="text-success"><span class="glyphicon glyphicon-ok"></span> Validated</span>
              {% elseif build.state == constant('FAILED', build) %}
                <span class="text-warning"><span class="glyphicon glyphicon-remove"></span> Failed</span>
              {% elseif build.state == constant('PROCESSING', build) %}
                <span class="text-info"><span class="glyphicon glyphicon-cog"></span> Processing...</span>
              {% elseif build.state == constant('WAITING', build) %}
                <span class="text-info"><span class="glyphicon glyphicon-time"></span> Waiting</span>
              {% else %}
                <span class="text-danger">INVALID STATE!</span>
              {% endif %}
            </td>

            {% if is_granted('EDIT', meta) %}
              <td>
                {% set params = {'meta': meta.metaId, 'branch': branch.branchId, 'build': build.version} %}
                <a href="{{ path('hlp_nebula_update_build', params) }}" class="btn btn-default btn-xs">
                  <span class="glyphicon glyphicon-retweet"></span> Copy & update
                </a>
                {% if branch.builds|length > 1 %}
                  <a href="{{ path('hlp_nebula_transfer_build', params) }}" class="btn btn-default btn-xs">
                    <span class="glyphicon glyphicon-transfer"></span> Transfer
                  </a>
                {% endif %}
                {% if build.state != constant('WAITING', build) %}
                  <a href="{{ path('hlp_nebula_reprocess', params) }}" class="btn btn-default btn-xs">
                    <span class="glyphicon glyphicon-cog"></span> Reprocess
                  </a>
                {% endif %}
                <a href="{{ path('hlp_nebula_delete_build', params) }}" class="btn btn-danger btn-xs">
                  <span class="glyphicon glyphicon-trash"></span> Delete
                </a>
              </td>
            {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p class="lead">No build found.</p>
  {% endif %}

  {% if nbPages > 1 %}
      <div class="text-center">
        <ul class="pagination pagination-sm">
          {% if page != 1 %}
            <li><a href="{{ path('hlp_nebula_repository_branch_builds', {'meta': meta.metaId, 'branch': branch.branchId, 'page': page - 1}) }}">&laquo;</a></li>
          {% endif %}
          {% for p in range(1, nbPages) %}
            <li{% if p == page %} class="active"{% endif %}>
              <a href="{{ path('hlp_nebula_repository_branch_builds', {'meta': meta.metaId, 'branch': branch.branchId, 'page': p}) }}">{{ p }}</a>
            </li>
          {% endfor %}
          {% if page != nbPages %}
            <li><a href="{{ path('hlp_nebula_repository_branch_builds', {'meta': meta.metaId, 'branch': branch.branchId, 'page': page + 1}) }}">&raquo;</a></li>
          {% endif %}
        </ul>
      </div>
  {% endif %}
{% endblock %}
