{% form_theme form 'HLPNebulaBundle:AdvancedUI:form_theme.html.twig' %}

{{ form_start(form, {'attr': {'class': 'mainForm row'}}) }}
    {{ form_errors(form) }}
    <h4><span class="glyphicon glyphicon-asterisk"></span> Mod metadata</h4>
    <hr>
    <div class="form-group">
        {{ form_label(form.type, "Mod type") }}
        {{ form_errors(form.type) }}
        {{ form_widget(form.type) }}

        <p class="help-block">
            <em>Mod</em> is the default type and should cover most cases.<br>
            <em>Total Conversion</em> means that your mod doesn't depend on retail files.<br>
            An <em>AddOn</em> extends other mods (i.e. a Cockpit Mod).<br>
            <em>Engine</em> is reserved for FSO builds and shouldn't be used for anything else.
        </p>
    </div>

    <div class="form-group">
        {{ form_label(form.title, "Mod title*") }}
        {{ form_errors(form.title) }}
        {{ form_widget(form.title, {'attr':{'title': 'Mod full title. Any character allowed (UTF-8), including spaces.'}}) }}
    </div>

    <div class="form-group">
        {% if form.metaId is defined %}
            {{ form_label(form.metaId, "Unique mod ID*") }}
            <p class="help-block">This setting cannot be edited once the mod is published.</p>

            {{ form_errors(form.metaId) }}
            {{ form_widget(form.metaId, {'attr':{
                'title': 'URL friendly unique ID: spaces and special characters not allowed, hyphen ("-") not allowed at the beginning of the ID. Underscores ("_") allowed.'
            }}) }}
        {% else %}
            <label class="form-label" for="modId_disabled">Unique mod ID <span class="text-muted">(cannot be changed)</span></label>
            <input id="metaId_disabled"class="form-control" type="text" value="{{ meta.metaId }}" disabled>
        {% endif %}
    </div>
    {% if form.defaultBranch is defined %}
        <div class="form-group">
            {{ form_label(form.defaultBranch, "Default branch") }}
            {{ form_errors(form.defaultBranch) }}
            {{ form_widget(form.defaultBranch) }}
        </div>
    {% endif %}

    <div class="form-group">
        {{ form_label(form.description, "Description") }}
        {{ form_errors(form.description) }}
        {{ form_widget(form.description) }}
    </div>
    
    <br>
    <h4><span class="glyphicon glyphicon-tags"></span>&nbsp;&nbsp;Catalogue search</h4>
    <hr>
    <div class="form-group">
        {{ form_label(form.categories, "Categories") }}
        {{ form_errors(form.categories) }}
        {{ form_widget(form.categories) }}
    </div>
    
    <div class="form-group">
        {{ form_label(form.keywords, "Keywords") }}
        <p class="help-block">Keywords will help the players finding your mod in the built-in search engine. Use a <em>comma (",") delimited list</em>.</p>
        {{ form_errors(form.keywords) }}
        {{ form_widget(form.keywords) }}
    </div>
    <br>
    
    <h4><span class="glyphicon glyphicon-camera"></span>&nbsp;&nbsp;Gallery</h4>
    <hr>
    <div class="form-group">
        {{ form_label(form.logo.file, "Logo") }}
        {{ form_errors(form.logo.file) }}

        <p class="help-block">This image must be exactly 255px x 112px.</p>

        <p class="well">
            {% if mod.logo.url is defined %}
                <img src="{{ mod.logo.webPath }}" alt="logo">
            {% endif %}

            {{ form_widget(form.logo.file) }}
        </p>
    </div>

    {{ form_rest(form) }}
    <br>
    <hr>

    <div class="text-center">
        <button type="submit" class="btn btn-success" style="width:100px;">Submit</button>
    </div>
{{ form_end(form) }}
