{% extends "HLPNebulaBundle::layout.html.twig" %}

{% block title %}
    {{ meta.title }} - {{ parent() }}
{% endblock %}

{% block body %}
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="{{ path('hlp_nebula_workshop_home') }}">Browse mods</a></li>
            <li href="active">{{ meta.title }}</li>
        </ol>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <h2>{{ meta.title }}</h2>
            <hr>
            <p class="text-muted"><span class="glyphicon glyphicon-time"></span> First released on {{ meta.firstRelease|date("d M Y") }}</p>
            {% if meta.releaseThread %}
                <p class="text-muted">
                    <span class="glyphicon glyphicon-link"></span> <a href="{{ meta.releaseThread }}">Release Thread</a>
                </p>
            {% endif %}
            {% if meta.installCount > 1 %}
                <p class="text-muted">
                    <span class="glyphicon glyphicon-signal"></span> {{ meta.installCount }} Installations
                </p>
            {% endif %}
            <hr>
            <div class="row">
                <div class="col-md-4 text-center">
                    <p class="lead">
                        {{ meta.nbBranches }}<br>
                        <small class="text-muted">
                            branch{{ meta.nbBranches > 1 ? 'es' }}
                        </small>
                    </p>
                </div>
                <div class="col-md-4 text-center">
                    <p class="lead">
                        {{ meta.nbBuilds }}<br>
                        <small class="text-muted">
                            build{{ meta.nbBuilds > 1 ? 's' }}
                        </small>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-9">
            <ul class="mainTabs nav nav-tabs" role="tablist">
                {% set route = app.request.attributes.get('_route') %}
                {% for key, label in {
                    'overview': 'Overview',
                    'branches': 'Branches',
                    'details': 'Mod details',
                    'team': 'Team'
                } %}
                    <li class="{{ route == 'hlp_nebula_repository_meta_' ~ key ? 'active' }}">
                        <a href="{{ path('hlp_nebula_repository_meta_' ~ key, {'meta': meta.metaId}) }}">
                            <h4 class="titletab">{{ label|raw }}</h4>
                        </a>
                    </li>
                {% endfor %}
            </ul>

            {% include "HLPNebulaBundle::flashbox.html.twig" %}
            {{ block('meta_tab') }}
        </div>
    </div>
{% endblock %}
