{% extends "HLPNebulaBundle:Meta:_layout.html.twig" %}

{% block meta_tab %}
  <h5><span class="glyphicon glyphicon-link"></span> Unique mod URL (redirects to the latest build in the default branch)</h5>

  {% if meta.branches|length == 0 %}
    <p class="text-danger">&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-warning-sign"></span>&nbsp;This mod has no available branches.</p>
  {% endif %}
  {% if meta.builds|length == 0 %}
    {# TODO: Check if we actually have builds where state == DONE. #}
    <p class="text-danger">&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-warning-sign"></span>&nbsp;This mod has no available build.</p>
  {% endif %}
  <input class="form-control" type="text" value="{{ url('hlp_nebula_fs2mod', {'path': meta.metaId}) }}" readonly>
  <br>

  <h5><span class="glyphicon glyphicon-paperclip"></span> Mod metadata</h5>
  <div class="well">
    <div class="row">
      <p class="col-xs-2 text-right"><strong>Unique ID: </strong></p><p class="col-xs-10">{{ meta.metaId }}</p>
    </div>
    <div class="row">
      <p class="col-xs-2 text-right"><strong>Title: </strong></p><p class="col-xs-10">{{ meta.title }}</p>
    </div>
    <div class="row">
      <p class="col-xs-2 text-right"><strong>Release date: </strong></p><p class="col-xs-10">{{ meta.firstRelease|date("d M Y") }}</p>
    </div>
    <div class="row">
      <p class="col-xs-2 text-right"><strong>Description: </strong></p><p class="col-xs-10">{{ meta.description|nl2br }}</p>
    </div>
    <div class="row">
      <p class="col-xs-2 text-right"><strong>Features: </strong></p>
      <p class="col-xs-10">
        {% if meta.features|length > 0 %}
          <ul>
            {% for feature in meta.features %}
              <li>{{ feature }}</li>
            {% endfor %}
          </ul>
        {% else %}N/A{% endif %}
      </p>
    </div>
    <div class="row">
      <p class="col-xs-2 text-right"><strong>Authors: </strong></p>
      <p class="col-xs-10">
        {% if meta.authors|length > 0 %}
          <ul>
            {% for author in meta.authors %}
              <li>
                {{ author.name }}
                {% if author.website %} ( <a href="{{ author.website }}">{{ author.website }}</a> ){% endif %}
                <br>
              </li>
            {% endfor %}
          </ul>
        {% else %}N/A{% endif %}
      </p>
    </div>
  </div>
  {% if is_granted('EDIT', meta) %}
    <br>
    <h5><span class="glyphicon glyphicon-tasks"></span> Actions</h5>
    <div class="well">
      <p>
        <a href="{{ path('hlp_nebula_repository_meta_update', {'meta': meta.metaId}) }}" class="btn btn-default">
          <span class="glyphicon glyphicon-pencil"></span> Edit mod metadata
        </a>
        
        <a href="{{ path('hlp_nebula_repository_meta_delete', {'meta': meta.metaId}) }}" class="btn btn-danger pull-right">
          <span class="glyphicon glyphicon-trash"></span> Delete this mod
        </a>
      </p>
    </div>
  {% endif %}
{% endblock %}
