{% extends "HLPNebulaBundle:Meta:_layout.html.twig" %}

{% block meta_tab %}
    <div class="pull-right">
        {% if meta.logo %}
            <img src="{{ meta.logo.webPath }}" alt="Logo"><br>
        {% endif %}

        <a href="fso://install/{{ meta.metaId }}" class="btn btn-success fso-install">Install</a>
    </div>

    {{ meta.description|nl2br }}

    <h3>Downloads</h4>

    {% for build in meta_data %}
        <h4>{{ build.version }}</h5>

        {{ build.build.notes|nl2br }}

        <a href="{{ path('hlp_nebula_repository_build_files', {'meta': meta, 'branch': build.build.branch, 'build': build.build}) }}">
            Show files
        </a><br>
        {% for pkg in build.packages %}
            {% if not (loop.first and loop.last) %}<h5>{{ pkg.name }}</h6>{% endif %}
            <ul>
                {% for file in pkg.files %}
                    <li>
                        {{ file.filename }}:
                        {% for url in file.urls %}
                            {% if not loop.first %} | {% endif %}
                            <a href="{{ url }}">{{ url|parse_url.host }}</a>
                        {% endfor %}
                    </li>
                {% endfor %}
            </ul>
        {% endfor %}

        <hr>
        {% set build_found = true %}
    {% else %}
        No downloads available.
    {% endfor %}
{% endblock %}
