{% extends "HLPNebulaBundle:Meta:_layout.html.twig" %}

{% block meta_tab %}
    <div class="pull-right">
        {% if meta.logo %}
            <img src="{{ meta.logo.webPath }}" alt="Logo"><br>
        {% endif %}

        <a href="fso://install/{{ meta.metaId }}" class="btn btn-success fso-install">Install</a>
    </div>

    {{ meta.description|nl2br }}

    <h4>Downloads</h4>

    {% set build_found = false %}
    {% for build in builds if build.state == constant('DONE', build) %}
        <h5>{{ build.version }}</h5>

        {{ build.notes|nl2br }}

        {% for pkg in build.packages %}
            {% if not (loop.first and loop.last) %}<h6>{{ pkg.name }}</h6>{% endif %}
            <ul>
                {% for file in pkg.files %}
                    <li>
                        {{ file.filename }}:
                        {% for url in file.urls %}
                            {% if not loop.first %} | {% endif %}
                            <a href="{{ url }}">{{ url|parse_url.host }}</a>
                        {% endfor %}
                    </li>
                {% endfor %}
            </ul>
        {% endfor %}

        <hr>
        {% set build_found = true %}
    {% endfor %}

    {% if not build_found %}
        No downloads available.
    {% endif %}
{% endblock %}
